.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/p0.jpg
src/assets/u332.png
src/icons/nav-logo.png
src/theme/alert.css
src/theme/aside.css
src/theme/autocomplete.css
src/theme/avatar.css
src/theme/backtop.css
src/theme/badge.css
src/theme/base.css
src/theme/breadcrumb-item.css
src/theme/breadcrumb.css
src/theme/button-group.css
src/theme/button.css
src/theme/calendar.css
src/theme/card.css
src/theme/carousel-item.css
src/theme/carousel.css
src/theme/cascader-panel.css
src/theme/cascader.css
src/theme/checkbox-button.css
src/theme/checkbox-group.css
src/theme/checkbox.css
src/theme/col.css
src/theme/collapse-item.css
src/theme/collapse.css
src/theme/color-picker.css
src/theme/container.css
src/theme/date-picker.css
src/theme/dialog.css
src/theme/display.css
src/theme/divider.css
src/theme/drawer.css
src/theme/dropdown-item.css
src/theme/dropdown-menu.css
src/theme/dropdown.css
src/theme/footer.css
src/theme/form-item.css
src/theme/form.css
src/theme/header.css
src/theme/icon.css
src/theme/image.css
src/theme/index.css
src/theme/infinite-scroll.css
src/theme/infiniteScroll.css
src/theme/input-number.css
src/theme/input.css
src/theme/link.css
src/theme/loading.css
src/theme/main.css
src/theme/menu-item-group.css
src/theme/menu-item.css
src/theme/menu.css
src/theme/message-box.css
src/theme/message.css
src/theme/notification.css
src/theme/option-group.css
src/theme/option.css
src/theme/page-header.css
src/theme/pagination.css
src/theme/popconfirm.css
src/theme/popover.css
src/theme/popper.css
src/theme/progress.css
src/theme/radio-button.css
src/theme/radio-group.css
src/theme/radio.css
src/theme/rate.css
src/theme/reset.css
src/theme/row.css
src/theme/scrollbar.css
src/theme/select-dropdown.css
src/theme/select.css
src/theme/slider.css
src/theme/spinner.css
src/theme/step.css
src/theme/steps.css
src/theme/submenu.css
src/theme/switch.css
src/theme/tab-pane.css
src/theme/table-column.css
src/theme/table.css
src/theme/tabs.css
src/theme/tag.css
src/theme/time-picker.css
src/theme/time-select.css
src/theme/timeline-item.css
src/theme/timeline.css
src/theme/tooltip.css
src/theme/transfer.css
src/theme/tree.css
src/theme/upload.css
src/theme/fonts/element-icons.ttf
src/theme/fonts/element-icons.woff
